body{

    main{

        #photo{
            
            .photo-card-group{

                // photo-card-group-平板
                @media screen and(min-width: 768px) {
                    .photo-card:nth-child(even){
                        .photo-card-text{
                            order: -1;
                        }
                    }
                }

                .photo-card{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .photo-card-img{
                        width: 100%;

                        // photo-card-img-平板
                        @media screen and(min-width: 768px) {
                            width: 50%;
                        }

                        // photo-card-img-電腦
                        @media screen and(min-width: 1200px) {
                            width: 50%;
                        }

                        img{
                            width: 100%;
                            border-radius: 50%;
                        }
                    }

                    .photo-card-text{
                        padding: 1rem;
                        width: 100%;

                        // photo-card-img-平板
                        @media screen and(min-width: 768px) {
                            width: 50%;
                        }

                        // photo-card-img-電腦
                        @media screen and(min-width: 1200px) {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}