@import '_base';

*{
    box-sizing: border-box;
}

//全體字大小!!
html,body{
    //手機板字大小
    font-size: 14px;

    @media screen and(min-width: 768px) {
        font-size: 16px;
    }

    @media screen and(min-width: 1200px) {
        font-size: 18px;
    }
}


body {
    margin: 0;

    // 字型，前段英文、後段中文
    font-family: 'Crimson Text','Noto Serif TC', serif;
    

    //---各標題的字大小---//

    // 大標題，字重 900,大小 60px,行距 1.5倍,字距 2px
    h1{
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: 900;
        padding: calc(0.36rem + 0.22rem) 0 calc(0.36rem - 0.22rem) 0;
        margin: 0;
    }
    
    //小標題，字重900,大小 26px,行距 1.5 倍,字距 2px
    h2{
        font-size: 1.44rem;
        letter-spacing: 2px;
        font-weight: 900;
        padding: calc(0.36rem + 0.22rem) 0 calc(0.36rem - 0.22rem) 0;
        margin: 0;
    }
    
    //粗體內文標題，字重900,大小 18px,行距 2 倍,字距 0.8px
    h3{
        font-size: 1.1em;
        letter-spacing: 0.8px;
        font-weight: 900;
        padding: calc(0.5rem + 0.2rem) 0 calc(0.5rem - 0.2rem) 0;
        margin: 0;
    }

    //段落文字，字重400,大小 18px,行距 2 倍,字距 0.8px
    span{
        font-size: 1rem;
        letter-spacing: 0.8px;
        font-weight: 400;
        padding: calc(0.25rem + 2px) 0 0.25rem 0;
        margin: 0;
        line-height: 2rem;
    }

    //內文，字重400,大小 18px,行距 2 倍,字距 0.8px
    p{
        font-size: 1rem;
        letter-spacing: 0.8px;
        font-weight: 400;
        padding: calc(0.25rem + 2px) 0 0.25rem 0;
        margin: 0;
    }

    // ---------內容--------//

    
    nav{
        display: flex;
        flex-wrap: wrap;

        @media screen and(min-width: 768px) {
            
        }

        @media screen and(min-width: 1200px) {
            
        }

        img{
            height: 80px;
        }
    }

    main{
        width: 100%;
        display: flex;

        aside{

            #citys-pc{
                display: none;

                @media screen and(min-width: 768px) {
                    display: flex;
                }

                @media screen and(min-width: 1200px) {
                    display: flex;
                }
            }

            #citys-mb{
                display: flex;
                justify-content: center;

                @media screen and(min-width: 768px) {
                    display: none;
                }

                @media screen and(min-width: 1200px) {
                    display: none;
                }
            }
            
            .title{
                text-align: center;
            }

            .position{
                width: 100%;
                padding: 0;
                display: flex;
                flex-wrap: wrap;

                a{
                    display: inline;
                    width: 50%;
                    text-decoration: none;
                    text-align: center;
                    color: $color-light;

                    &:hover{
                        color: $color-hover;
                    }
                }
            }
        }

        article{
            border-radius: 50px 0 0 50px;

            .content{
                display: flex;

                .h1-style{
                    font-size: 40px;
                    margin: 0;
                    @media screen and(min-width: 768px) {
                        font-size: 100px;
                    }
    
                    @media screen and(min-width: 1200px) {
                        font-size: 100px;
                    }
                }

                #town-list-pc{
                    display: none;

                    @media screen and(min-width: 768px) {
                        display: none;
                    }
    
                    @media screen and(min-width: 1200px) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    a{
                        display: inline;
                        width: 33.3%;
                        text-decoration: none;
                        text-align: center;
                        color: $color-light;
    
                        &:hover{
                            color: $color-hover;
                        }
                    }
                }

                #town-list-mb{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    @media screen and(min-width: 768px) {
                        display: flex;
                    }
    
                    @media screen and(min-width: 1200px) {
                        display: none;
                    }
                }
            }


            .hr-24{
                display: none;
                flex-wrap: wrap;

                @media screen and(min-width: 768px) {
                    display: flex;
                }

                @media screen and(min-width: 1200px) {
                    display: flex;
                }

                table{
                    table-layout: fixed;
                    text-align: center;

                    h3{
                        padding: 0;
                    }

                    .w-100px{
                        width: 100px;
                    }
                    
                    tr:nth-child(1){
                        td:nth-child(odd){
                            background-color: cornflowerblue;
                        }
                        td:nth-child(even){
                            background-color: darkcyan;
                        }
                    }

                    img{
                        width: 75%;
                    }
                }

                .card{
                    width: 25%;
                }
            }
        }
    }

    footer{
        text-align: center;
    }
}








