@import '_base';

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: gray;

    h1{
        text-align: center;
        font-size: 30px;
        color: rgb(255, 255, 255);
    }

    .inputs{
        font-size: 20px;
        padding: 50px 50px 0 50px;

        label{
            margin: 0 16px;

            &:hover{
                color: blue;
            }
        }
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card {
            width: 30%;
            display: flex;
            flex-wrap: wrap;
            margin: 40px 0 40px 0;

            .card_sm {
                width: 100%;
                display: flex;
                background-color: cadetblue;

                .two_card {
                    width: 50%;
                    background-color: bisque;
                    padding: 20px;
                }

                .three_card {
                    width: 33.3%;
                    text-align: center;
                }

                .two_card img {
                    width: 100px;
                }
                
            }
        }
    }
}








