*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: gray;


    h1{
        color: white;
        border: 1px solid white;
        padding: 10px;
        margin: auto;
    }

    .container {
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0 0 0;

        // 平板版
        @media screen and(min-width: 768px) {
            width: 80%;
        }

        // 電腦版
        @media screen and(min-width: 1400px) {
            width: 80%;
        }

        .input{
            width: 100%;
            padding: 0 10px;
        }

        .row:nth-child(odd){
            background-color: rgb(6, 101, 101);
        }
        .row:nth-child(even){
            background-color: rgb(61, 101, 6);
        }

        .row{
            width: calc(100% - 20px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin: 10px;
            // 平板版
            @media screen and(min-width: 768px) {
                width: calc(50% - 20px);
            }

            // 電腦版
            @media screen and(min-width: 1400px) {
                width: calc(25% - 20px);
            }

            img{
                width: 300px;
                height: auto;
            }

            h2{
                span{
                    font-size: 18px;
                }
            }
        }
    }
}

