<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="哈囉氣象預報">
    <title>哈囉氣象預報</title>
    <link rel="stylesheet" href="./css/HollowWeather.css">
</head>

<body class="bg-primary">
    <nav class="bg-primary w-100 p-2">
        <img src="./img/logo.jpg" alt="" class="mr-2">
        <h1 class="text-light">哈囉氣象預報</h1>
    </nav>

    <main id="app">

        <!-- 左側城市選單 -->
        <aside class="w-25 bg-primary text-light p-2">

            <!-- 目前所選城市/鄉鎮 -->
            <section>
                <div class="title">
                    <h2>我的地點</h2>
                    <hr>
                </div>
                <div class="position">
                    <a href="">
                        <h3>{{input.city}}</h3>
                    </a>
                    <a href="">
                        <h3>{{input.town}}</h3>
                    </a>
                </div>
            </section>

            <!-- 台灣其他城市 -->
            <section class="mt-2">
                <div class="title">
                    <h2>台灣主要城市</h2>
                    <hr>
                </div>

                <!-- 電腦/平板 城市清單 -->
                <div class="position" id="citys-pc">
                    <a :href="item.href" v-for="(item,index) in cityData">
                        <h3>{{item.city}}</h3>
                    </a>
                </div>
                <!-- 手機 城市清單 -->
                <div id="citys-mb">
                    <select name="" id="">
                        <option :value="item.href" v-for="(item,index) in cityData">
                            <h3>{{item.city}}</h3>
                        </option>
                    </select>
                </div>
            </section>

        </aside>

        <!-- 右側氣象內文 -->
        <article class="w-75 bg-mid p-2 text-light">

            <section class="content">
                <div class="w-65">
                    <!-- 現在所在城市 -->
                    <div class="">
                        <h2 class="h1-style">{{input.city}}</h2>
                        <h2>{{input.town}}</h2>
                        <h3>{{checkTime()}}</h3>
                    </div>
                    <div class="">
                        <img :src="checkWeatherImg(checkTown().weatherElement[6].time[0].elementValue[0].value)" alt=""
                            height="100px" :title="checkTown().weatherElement[6].time[0].elementValue[0].value">
                        <p>↑{{checkTown().weatherElement[12].time[0].elementValue[0].value}}°
                            ↓{{checkTown().weatherElement[8].time[0].elementValue[0].value}}°</p>
                        <h2>{{checkTown().weatherElement[1].time[0].elementValue[0].value}}℃</h2>
                    </div>
                </div>
                <!-- 電腦 鄉鎮清單 -->
                <div class="w-35" id="town-list-pc">
                    <a href="#" v-for="(item,index) in town">
                        <h3>{{item.locationName}}</h3>
                    </a>
                </div>

                <!-- 手機/平板 鄉鎮清單 -->
                <div class="w-35 pt-5" id="town-list-mb">
                    <select name="" id="" v-model="input.town">
                        <option :value="item.locationName" v-for="(item,index) in town">
                            <h3>{{item.locationName}}</h3>
                        </option>
                    </select>
                </div>
            </section>

            <!-- 24hr氣象 -->
            <section class="hr-24 mt-2">
                <table class="w-100">
                    <tr>
                        <td class="w-100px">
                            <h3>日期</h3>
                        </td>
                        <td :colspan="item.colspan" v-for="item in todayIs()">
                            <h3>{{item.day}}</h3>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3>時間</h3>
                        </td>
                        <td v-for="item in dayOrNight()">{{item}}</td>
                    </tr>

                    <tr>
                        <td>
                            <h3>降雨機率</h3>
                        </td>
                        <td v-for="item in checkTown().weatherElement[0].time">{{item.elementValue[0].value}}%</td>
                    </tr>

                    <tr>
                        <td>
                            <h3>天氣</h3>
                        </td>
                        <td v-for="item in checkTown().weatherElement[6].time"><img
                                :src="checkWeatherImg(item.elementValue[0].value)" :alt="item.elementValue[0].value"
                                :title="item.elementValue[0].value"></td>
                    </tr>

                    <tr>
                        <td>
                            <h3>最低溫度</h3>
                        </td>
                        <td v-for="item in checkTown().weatherElement[8].time">↓{{item.elementValue[0].value}}°</td>
                    </tr>

                    <tr>
                        <td>
                            <h3>最高溫度</h3>
                        </td>
                        <td v-for="item in checkTown().weatherElement[12].time">↑{{item.elementValue[0].value}}°</td>
                    </tr>
                </table>
            </section>

        </article>
    </main>

    <footer class="bg-primary m-0 py-1 text-light">
        <p>資料來源:中央氣象局</p>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/00-Chiayi.js"></script>
</body>

</html>