<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="哈囉氣象預報">
    <title>vueDay7</title>
    <link rel="stylesheet" href="./css/vueDay7.css">
</head>

<body>
    <section id="app">
        <h1>哈囉氣象預報</h1>
        <!-- <select name="" id="" v-model="input.title">
            <option value="全部">全部</option>
            <option :value="item" v-for="(item,index) in place">{{item}}</option>
        </select> -->

        <div class="inputs">
            請選擇城市:
            <label for=""><input type="checkbox" value="全部" v-model="input.title">全部</label>
            <br>
            <label for="" v-for="(item,index) in place"><input type="checkbox" :value="item" v-model="input.title">{{item}}</label>
        </div>
        
        <div class="cards">
            
            <div class="card" v-for="(item,index) in checkPlace">
                <div class="card_sm">
                    <div class="two_card">
                        <h2>{{item.locationName}}</h2>
                        <p>{{item.weatherElement[3].time[0].parameter.parameterName}}</p>
                    </div>
                    <div class="two_card">
                        <h3>{{item.weatherElement[0].time[0].parameter.parameterName}}</h3>
                        <div>{{item.weatherElement[1].time[0].parameter.parameterName ? 'img' : 'xxx'}}</div>

                    </div>
                </div>
                <div class="card_sm">
                    <div class="three_card">
                        <h3>降雨機率</h3>
                        <h2>{{item.weatherElement[1].time[0].parameter.parameterName}}%</h2>
                    </div>

                    <div class="three_card">
                        <h3>最高溫度</h3>
                        <h2>{{item.weatherElement[4].time[0].parameter.parameterName}} °c</h2>
                    </div>

                    <div class="three_card">
                        <h3>最低溫度</h3>
                        <h2>{{item.weatherElement[2].time[0].parameter.parameterName}} °c</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="./js/vueDay7.js"></script>
</body>

</html>